<div class="container">
  <div class="RUS">
    <img class="icon" src="assets/icons/free-icon-russia-197408.png" alt="icon">
    <label>₽</label>
    <input [(ngModel)]="RUSCurrency" type="number" (input)="onCurrencyInputChange('RUS')">
  </div>
  <div class="EUR">
    <img class="icon" src="assets/icons/free-icon-european-union-5922032.png" alt="icon">
    <label>€</label>
    <input [(ngModel)]="EURCurrencyRate" type="number" (input)="onCurrencyInputChange('EUR')">
  </div>
  <div class="USD">
    <img class="icon" src="assets/icons/free-icon-usa-4628635.png" alt="icon">
    <label>$</label>
    <input [(ngModel)]="USDCurrencyRate" type="number" (input)="onCurrencyInputChange('USD')">
  </div>
</div>
