<div class="converter__container">
  <div class="converter__RUS_container">
    <img class="icon" src="assets/icons/free-icon-russia-197408.png" alt="icon">
    <label>₽</label>
    <input [(ngModel)]="RUSCurrency" type="number" (input)="onRUSInputChange($event)">
  </div>
  <div class="converter__EUR_container">
    <img class="icon" src="assets/icons/free-icon-european-union-5922032.png" alt="icon">
    <label [(ngModel)]="EURCurrency">€</label>
    <input [(ngModel)]="EURCurrencyRate"   type="number"  (input)="onEURInputChange($event)">
  </div>
  <div class="converter__USD_container">
    <img class="icon" src="assets/icons/free-icon-usa-4628635.png" alt="icon">
    <label [(ngModel)]="USDCurrency">$</label>
    <input [(ngModel)]="USDCurrencyRate" type="number" (input)="onUSDInputChange($event)" >
  </div>
</div>
